%footer.footer
  .container
    %p.pull-right{:style => "text-align :right;"}
      = render :partial => 'shared/social'
      %br
      %a{:href => "http://blog.sanpo.cc"} Photowalkin', the SANPO blog
    .title= t('general.title')
    .usageStats= usage_stats
    .copyright= t('footer.copyright').html_safe
