%footer.footer
  .container
    .row
      .span10
        .title
          = t('general.title')
          %br
          %a{:href => "http://blog.sanpo.cc"} Photowalkin', the SANPO blog
        .usageStats= usage_stats
        .copyright= t('footer.copyright').html_safe
      = render :partial => 'shared/social'
