#map_zoom_controls_container.container
  .map_zoom_controls
    %a.zoomIn +
    %a.zoomOut –
#map_container
  #mapSearchField.hidden
    %form#mapLocationSearchForm
      %input.span5.searchField{:type => "search"}
      %input.btn.primary.submitButton{:type => "submit", :value => "Search"}
  #map_canvas
  - if @walk and current_user and @walk.user == current_user
    #map_controls
      .control.editButtonContainer
        = link_to "Edit the route", "#", :class => "btn large primary editButton"
