#mapSearchField.hidden
  %form#mapLocationSearchForm
    %input.span5.searchField{:type => "search", :placeholder => "Where did you go?"}
    %input.btn.primary.submitButton{:type => "submit", :value => "Show it to me"}
