%h1= @walk.title
%h2 Description
%p= @walk.description
%h2 Photographer's notes
%p= @walk.notes
%h2 More photos
- if @walk.link
  %p= link_to("See the gallery", @walk.link)
- else
  %p (No gallery linked)
