/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #fff;
  padding-top: 33px;
}

.footer {
  background-color: #eee;
  padding: 30px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.footer .copyright {
  font-size: 11px;
  margin-top: 5px;
}

.footer .usageStats {
  font-size: 11px;
}
