/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
body {
  background-color: #E6EBEA;
}

.homePanel {
  position: relative;
  text-align: center;
}

.homePanel .number { position: absolute; top: 10px; left: 0; }
.homePanel .description {
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 20px;
  border: 1px dashed #ccc;
}

.roundedCorners {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ie-border-radius: 10px;
}

.whitebg {
  background-color: #fff;
}

.alignRight {
  text-align: right;
}

.padding10 {
  padding: 10px;
}

.content {
  padding-top: 40px;
}

.footer {
  padding: 30px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.footer .copyright {
  font-size: 13px;
  margin-top: 5px;
}

.footer .usageStats {
  font-size: 13px;
}

.footer .madeintokyo {
  font-size: 13px;
  color: #999;
}

.footer .twitter-follow-button {
  margin-bottom: 7px;
}

.hidden {
  display: none;
}

.highlight {
  background-color: #FEE9CC;
  padding: 5px 10px;
}

.best_in_place:hover {
  background-color: #FFFFD3;
}

.alert-message {
  margin-top: 15px;
}

.profileUserName { margin-top: 7px; }

.nav .profileLink a {
  position: relative;
  padding-left: 42px;
}

.nav .profileLink a img {
  position: absolute;
  left: 10px;
  top: 8px;
}
