// Place all the styles related to the Walks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.walks.list {
  border-top: 1px solid #eee;
  list-style: none;
  margin: 0 0 25px 0;
  li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    h3 { line-height: 1.5em; }
    a:hover {
      text-decoration: none;
    }
    .user_info {
      position: absolute;
      right: 0px;
      top: 10px
    }
  }
  li:hover {
    background-color: #f9f9f9;
  }
}

@mixin box-shadow {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.show_walk {
  .container { position: relative; }

  .page-header {
    @include box-shadow;
    position: absolute;
    top: 45px;
    max-width: 535px;
    z-index: 100;
    background-color: #fff;
    margin-bottom: 0px;
    padding: 5px 10px;
    border: none;
    h1 {
      margin-bottom: 0px;
      position: relative;
      .walkCreator {
        @include box-shadow;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        position: absolute;
        z-index: 100;
        background-color: #fff;
        padding: 7px 14px;
        bottom: -43px;
        left: -10px;
      }
    }
  }
  .social {
    margin: 20px 0 10px 0;
  }

  .comments {
    margin: 30px 0;
  }

  .walk_notes {
    background-color: #FEE9CC;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    h2 {
      text-align: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
    p {
      font-family: Monaco, Andale Mono, Courier New, monospace;
      font-size: 12px;
      color: rgba(0,0,0,0.75);
    }
  }

  .walk_link {
    margin-top: 20px;
    h2 {
      display: block;
      text-align: center;
      font-size: 20px;
    }
  }

  $containerBackground: rgba(128, 128, 128, 0.5);
  $containerEditModeBackground: rgba(255, 128, 128, 0.8);

  #mapSearchField {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    @include box-shadow;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 100;
    form {
      padding: 5px;
      margin-bottom: 0;
    }
  }

  #map_container {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: $containerBackground;

    #map_canvas {
      height: 500px;
      z-index: 1;
    }

    #map_controls {
      position: relative;
      .editButtonContainer {
        @include box-shadow;
        background-color: #fff;
        display: block;
        position: absolute;
        top: -60px;
        left: 50%;
        margin-left: -75px;
        z-index: 100;
        padding: 5px;
        border-radius: 10px;
        .editButton {
          width: 140px;
          text-align: center;
        }
      }
    }
  }
  #map_container.editMode {
    #map_controls {
      .searchField { display: block; }
    }
  }
}

.homePage {
  margin-top: 20px;
  .welcome {
    p {
      font-size: 16px;
      line-height: 24px;
    }
    border-radius: 5px;
  }
  .createAccountButton {
    margin-top: 10px;
    a {
      display: block;
      text-align: center;
      font-size: 22px;
    }
  }
}
