!!! 5
%html
  %head
    %title Photowalks
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Photowalks!!
    = yield
    %footer
      2011
