!!! 5
%html
  %head
    %title Photowalks
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.topbar
      .fill
        .container
          %a.brand{:href => "#"} Photowalks!!
    %section.container
      = yield
      %footer
        %p 2011
